<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hoffenkloffen.lonewolf.book01"
          android:versionCode="1"
          android:versionName="1.0"
          android:installLocation="auto">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:label="@string/app_name">
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.hoffenkloffen.lonewolf.ActionChartActivity"
                  android:label="@string/activity_action_chart"/>
        <activity android:name="com.hoffenkloffen.lonewolf.SectionActivity"
                  android:label="@string/activity_section"/>
        <activity android:name="com.hoffenkloffen.lonewolf.LogActivity"
                  android:label="@string/activity_log"/>
        <activity android:name="com.hoffenkloffen.lonewolf.CharacterCreationActivity"
                  android:label="@string/activity_charactercreation"/>
    </application>
</manifest> 
