html, body {
    background-color: #ffffe6;
    color: #003300;
    font-family: Souvenir, Georgia, "Times New Roman", Times, serif;
}
p {
    text-align: justify;
}
figure {
    margin: 0px;
    padding: 0px;
}
img {
    max-width: 100%; /* TODO: fail on Android 2.X */
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.choice, .combat {
    text-align: left;
    margin-left: 15px;
}
.smallcaps {
    font-size: 0.8em;
}
