@using LoneWolf.Models
@using LoneWolf.Views
@model Prologue
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>LoneWolf - @Model.Id</title>
	<link rel="stylesheet" href="prologue.css"/>
	<script src="prologue.js"></script>
</head>
<body>
	@Model.Body
	<div class="navigation">
		<a href="hybrid:prologue/@Model.Back" id="back" class="@Model.Back.GetCssClass()">Back</a>
		<a href="hybrid:prologue/@Model.Forward" id="forward" class="@Model.Forward.GetCssClass()">Forward</a>
	</div>
</body>
</html>