@using LoneWolf.Models
@model Section
<html>
<head>
	<link rel="stylesheet" href="style.css" />
</head>
<body>
	<h1>@Model.Number</h1>
	@Model.Body
	@foreach(var choice in Model.Choices)
	{
		<p>Turn to <a href="hybrid:section/@choice.Number">@choice.Number</a></p>
	}
</body>
</html>