@using LoneWolf.Models
@model Section
<html>
<head>
	<link rel="stylesheet" href="style.css" />
</head>
<body>
	<h1>@Model.Number</h1>
	@Model.Body
	@foreach(var choice in Model.Choices)
	{
		if(choice.Toggle.IsEnabled())
		{
			@choice.Body
		}
		else
		{
			<p style="text-decoration: line-through; color: gray; pointer-events: none; cursor: default;">
				Disabled: @choice.Body
			</p>
		}
	}
</body>
</html>