@using LoneWolf.Models
@model Section
<html>
<head>
	<link rel="stylesheet" href="style.css" />
</head>
<body>
	<h1>@Model.Number</h1>
	@Model.Body
	@foreach(var choice in Model.Choices)
	{
		if(choice.Toggle.IsEnabled())
		{
			@choice.Body
		}
		else
		{
			<div class="disabled">
				@choice.Body
			</div>
		}
	}
</body>
</html>